@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

/* Navabar */

#navbarlogo{
    width: 100px;
    height: auto;
    position: relative;
    bottom: 9px;
}

#navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: black;
    padding: 5px;

}

#navbar li{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}

#navbar li:hover{
    color:#4b0082;
}

/* Navbar end */


/* Content Component */

#contentcontainer{
    width: 200px;
    display: inline;
    justify-content: center;
    align-items: center;
}

#contentcontainer img{
    width: 200px;
}




/* Content component end */

.player-wrapper{
    display: flex;
    justify-content: center;

}

/* audiobooks */

#audiobooks{
    display: flex;
}

/* audiobooks end */

/* books */
#books{
    display: flex;
}

/* books end */

/* comicbooks */

#comicbooks{
    display: flex;
}

/* comic books end */

/* merchadise */
#merchandise{
    display: flex;
}
/* merchandise end */